<div id="difficulty-menu" class="menu-overlay">
    <img class="menu-logo" src="/BreakOutTitle.png" alt="Arcade Breakout">
    <p class="menu-title">Selecciona dificultad</p>
    <div class="difficulty-buttons">
        <button class="difficulty-button" type="button" data-difficulty="easy">Fácil</button>
        <button class="difficulty-button" type="button" data-difficulty="normal">Normal</button>
        <button class="difficulty-button" type="button" data-difficulty="hard">Difícil</button>
    </div>
</div>
